/* style.css */
@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

/* Add your custom styles below */
.container {
  max-width: 600px;
  margin: 0 auto;
  padding: 20px;
}
*{
  font-family: roboto;
}
::selection{
  
}
/* Add more styles as needed */
